.call-to-action {
    margin-top: -170px;
    display: inline-block;
    padding: 0;
    box-shadow: 0px 0px 15px 5px rgb(9 9 9 / 20%);
    background: #fff;
    margin-right: 20px;
    padding-top: 15px;
    background: #012E63;
    color: #fff;
    padding: 46px;
    border: navajowhite;
    line-height: 25px;
}


.call-to-action i {
    font-size: 52px;
    color: #fff;
  }

