.banner {
  background-image: url("./images/banner-01.jpg");
  -webkit-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: 560px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  color: #fff;
}


.btn-v1 {
  background: #0a55a6;
  border: none;
  border-radius: 2px;
  letter-spacing: 0.35px;
  font-weight: 500;
  padding: 12px 35px 8px;
  font-size: 1.125rem;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  transition: 0.3s ease-out;
  font-weight: bold;
  border-radius: 66px;
  padding: 12px 42px;
}

.btn-v1:hover {
  background-color: #1e243f;
}

.btn-v2 {
  background: #da0b4e;
  border: none;
  border-radius: 2px;
  letter-spacing: 0.35px;
  font-weight: 500;
  padding: 12px 35px 8px;
  font-size: 1.125rem;
  cursor: pointer;
  color: #fff;
  display: inline-block;
  transition: 0.3s ease-out;
  margin-top: 52px;
  font-weight: bold;
  border-radius: 66px;
  padding: 12px 42px;
}

.btn-v2:hover {
  background-color: #f34761;
}


.f-title{
  background: #000;
  color: #fff;
  width: 309px;
  padding: 10px 12px;
  margin: 0 auto;
      margin-top: 0px;
      margin-bottom: 0px;
  border-top-left-radius: \\;
  border-radius: 77px;
  margin-bottom: 33px;
  margin-top: 60px;
  font-weight: bold;
  font-size: 29px;
}